body{
    background: linear-gradient(to right,rgb(29, 29, 199), rgb(58, 58, 233)) ;
}
.main{
    position: absolute;
    top: 10%;
    left: 10%;
    
}
.textview{
    width: 217px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    border: yellow;
    color: black ;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background-color: rgb(122, 122, 155);
    border: none;
    color: white;
    
}
